---
permalink: /sitemap.html
eleventyExcludeFromCollections: true
---

{% extends 'layouts/home.njk' %}

{% block content %}
  <h1>Sitemap</h1>



  <ul class="sitemap-list">
    {% set pagesNumber %}{{ collections.all | length }}{% endset %}
    <p>
      <b>Number of URLs in this sitemap: {{ pagesNumber }}</b>
    </p>
    {%- for page in collections.all %}
      {% set absoluteUrl %}{{ page.url | url | absoluteUrl(metadata.url) }}{% endset %}
      <ol>
        <a href="{{ absoluteUrl }}">{{ absoluteUrl }}</a>
      </ol>
    {%- endfor %}
  </ul>
{% endblock %}
